<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ML Api</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

<div class="login">

<h1>Crop Prediction Model</h1>

<form action="{{ url_for('predict') }}" method="post">

<input type="number" name="Nitrogen" placeholder="Nitrogen (0 - 140)" required>
<input type="number" name="Phosphorus" placeholder="Phosphorus (5 - 145)" required>
<input type="number" name="Potassium" placeholder="Potassium (5 - 205)" required>
<input type="number" name="temperature" placeholder="Temperature °C (8 - 43)" required>
<input type="number" name="Humidity" placeholder="Humidity % (14 - 100)" required>
<input type="number" name="PH" placeholder="pH (3.5 - 10)" required>
<input type="number" name="rainfall" placeholder="Rainfall mm (20 - 300)" required>

<button type="submit" class="btn">Predict</button>

</form>

<h1 id="pred">{{prediction_text}}</h1>

</div>

</body>
</html>