<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ML Api</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

<div class="login">

<h1>Crop Prediction Model</h1>

<form action="{{ url_for('predict') }}" method="post">

<input type="text" name="Nitrogen" placeholder="Nitrogen" required>
<input type="text" name="Phosphorus" placeholder="Phosphorus" required>
<input type="text" name="Potassium" placeholder="Potassium" required>
<input type="text" name="temperature" placeholder="Temperature" required>
<input type="text" name="Humidity" placeholder="Humidity" required>
<input type="text" name="PH" placeholder="PH" required>
<input type="text" name="rainfall" placeholder="Rainfall" required>

<button type="submit" class="btn">Predict</button>

</form>

<h1 id="pred">{{prediction_text}}</h1>

</div>

</body>
</html>